@import '../../../app/styles/style';

.newPasswordModal {
  width: 500px;
  display: none;
  padding: rem(20);

  &.active {
    display: block;
  }

  &__title {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: rem(23);
    text-align: center;
    color: #000;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    margin-bottom: rem(30);
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
