.GroupCover {
  margin-bottom: 28px;

  &__name {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 14px;
  }
}
