@import '../../../../app/styles/style';

.navigationNavbar {
  display: flex;
  flex: 1 1 auto;
  z-index: 13;
  margin-right: em(30);

  @media (max-width: em(1180)) {
    display: none;
  }

  &__item {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #4f9c2c;
        transition: all 0.3s ease 0s;
      }
    }

    &:not(:last-child) {
      margin-right: rem(24);
    }

    white-space: nowrap;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
  }
}
