@import '../../app/styles/style';

.sort-main-catalog {
  display: flex;

  @media (max-width: $mobile) {
  }

  justify-content: space-between;
  margin-bottom: rem(30);

  &__options {
    @media (max-width: $mobile) {
      flex: 1 1 auto;
      margin-right: 30px;
    }
  }

  &__option {
  }

  &__rignt {
  }
}
